@model _17bnag.Entitys.User
    <li class="text-warning"><a href=""><span class="fa fa-list fa-fw"></span> 新手任务</a></li>
    <li><a href="/User/Single"><span class="fa fa-home fa-fw"></span> 我的主页</a></li>
    <li class="divider"></li>
    <li data-toggle="tooltip" title="" data-original-title="明天00点00分更新">
        <a href="/FAQ/Bean">
            <span class="bean">
                <strong class="iconfont icon-beans">
                </strong>
                帮帮豆
            </span>
            ：
            <span zyf-nav-current-ballots="">
                2
            </span>
            颗
        </a>
    </li>
    <li>
        <a href="/Credit">
            <span class="water">
                <span class="iconfont icon-drips"></span>
                帮帮点
            </span>
            ：<span zyf-nav-current-credit="">44</span> 点 ②
        </a>
    </li>
    <li>
        <a href="/Money/Owner">
            <span class="credit">
                <span class="iconfont icon-money"></span>
                帮帮币
            </span>
            ：<span>@Model.OnModel.HelpMony</span> 枚
        </a>
    </li>
    <li class="divider"></li>
    <li class="dropdown-header">
        <span class="fa fa-pencil-square-o"></span>
        修改
    </li>
    <li>
        <a href="/Password/ForGet">
            <span class="fa fa-lock fa-fw"></span>
            我的密码
        </a>
    </li>
    <li>
        <a href="/Contact/Edit">
            <span class="fa fa-envelope fa-fw"></span> 联系方式
        </a>
    </li>
    <li>
        <a href="/Profile/Write">
            <span class="fa fa-camera fa-fw"></span> 个人资料
        </a>
    </li>
    <li class="divider"></li>
