<div zyf-widget-content="" class="clearfix" style="margin-bottom:30px;">
    <ul class="nav nav-tabs nav-justified nav-tabs-colored" role="tablist">
        <li role="presentation" class="active">
            <a href="#planscan" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="true">
                <span class="fa fa-eye"></span> 每日督促
            </a>
        </li>
        <li role="presentation" class="">
            <a href="#contribute" aria-controls="messages" role="tab" data-toggle="tab" style="color:red;" aria-expanded="false">
                <span class="fa fa-heart"></span> 排行榜
            </a>
        </li>
        <li role="presentation" class="">
            <a href="#register" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="false">
                <span class="fa fa-user-circle-o"></span> 新注册
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <vc:_presentation></vc:_presentation>
        <vc:_ranking-list></vc:_ranking-list>
        <vc:_user-register></vc:_user-register>
    </div>
</div>