@model IList<ViewModel.Advertising.IndexModel>
<script>
    //取多个name进行字体闪烁
    function roplcolor() {
        var free = document.getElementsByName('bay');
        for (var i = 0; i < free.length; i++) {
            if (free[i].style.color === 'blue') {
                free[i].style.color = '#8a6d3b';
            } else {
                free[i].style.color = 'blue';
            }
        }
    }
    setInterval(roplcolor, 1000);
</script>
<div class="widget clearfix">

    @{
        int sum = 7;

    }
    @for (int i = 1; i < sum - Model.Count(); i++)
    {
        foreach (var item in Model)
        {
            <div class="ad-in-widget order-list">
                <span class="item-1 order-tag">@i</span>
                <a href="@item.Url" name="bay">@item.Title</a>
            </div>
        }
    }
    <div class="ad-in-widget order-list">
        <span class="item order-tag">6</span> 本站主机由<a href="http://www.west.cn/index.asp?ReferenceID=563969">西部数码</a>提供
    </div>
    <a href="/AdInWidget/Write" class="pull-right text-muted">
        <small>
            <span class="fa fa-buysellads"></span> 广告
            <span class="hide">，你也可以发布哟！</span>
        </small>
    </a>
</div>
<div class="modal fade" tabindex="-1" role="dialog">
</div><!-- /.modal -->
@Html.Action("_Ad", "Shared")