<div zyf-message-sender-anonymous="" class="input-group ">
    <input readonly="" zyf-chat-send-content="" type="text" class="form-control" placeholder="注册/登录后来两句吧" aria-describedby="basic-addon2">
    <span class="input-group-addon"><a href="/Register?prepage=/">注册</a> </span>
    <span class="input-group-addon"><a href="/Log/On?prepage=/">登录</a> </span>
</div>
<p zyf-new-chats-reminder="" class="hidden"><span class="fa fa-info-circle text-info"></span> 有新消息，<a zyf-new-chats-known="">知道了</a></p>
