@model IEnumerable<object>
@using ProdService
@using Global
@{
    Layout = null;
}
<nav>
    @{
        int currentPageIndex = Convert.ToInt32(ViewContext.RouteData.Values["id"]);
        int Sum = ExtensionMethods.Select.GetSum(Model) / Const.PAGE_SIZE;
    }
    <ul class="pagination">
        @if (currentPageIndex > 1)
        {
            <li><a href="/Article/Page-@(currentPageIndex-1)">&lt;&lt;</a></li>
        }
        @if (currentPageIndex <= Sum)
        {
            for (int i = 1; i <= Sum + 1; i++)
            {
                <li class="active"><a href="/Article/Page-@i">@(i)</a></li>
            }
            if (currentPageIndex <= Sum)
            {
                <li><a href="/Article/Page-@(currentPageIndex+1)">&gt;&gt;</a></li>
            }
        }
    </ul>
</nav>
