@model ViewModel.AdInWidget.ShowItemModel

<div class="yellow-highlight" style="padding:5px 10px;">
    <a style="color:#354756" title="这是什么？" data-toggle="tooltip" href="/FAQ/Ad#article">投稿人推广：</a> <a href="@Model.Url">@Model.Text</a>
</div>

