@model ViewModel.Shared._UserModel
<div>
    <span class="lead"><span class="fa fa-map-signs"></span>文章路径：</span>
    <a class="text-muted" href="/Article">全部</a> /
    <span style="font-size:16px;" class="text-primary" zyf-show-contact="@Model.Id">@(Model.Name)的文章</span>
</div>
<hr />
