@model ViewModel.Articles._PreAndNextModel

<div zyf-article-nav-container style="clear:both; margin-bottom:20px; padding:10px 15px; border: 2px dashed #808080; border-radius:4px 5px;">
    <div>
        <span class="fa fa-arrow-up"></span>
        上一篇：
        @if (Model.Pre != null)
        {
            <a href="/Article/@Model.Pre.Id">@Model.Pre.Title</a>
        }
        else
        {
            <span class="text-info">已经是第一篇了……</span>
        }

    </div>
    <div style="margin-top:6px;">
        <span class="fa fa-arrow-down"></span>
        下一篇：
        @if (Model.Next != null)
        {
            <a href="/Article/@Model.Next.Id">@Model.Next.Title</a>
        }
        else
        {
            <span class="text-info">已经是最后一篇了……</span>
        }
    </div>
</div>

