@{
    Layout = null;
}
@model ViewModel.Chat.ChatRoomModel
@foreach (var item in Model.ChatRooms)
{
    if (item.ChatAuthorId == Model.CurrentUserId)
    {
        @Html.Partial("_MyMessage", item)
    }
    else
    {
        @Html.Partial("_Reply", item)
        <div zyf-chat-item data-id="6" class="chat-item">
            @Html.Partial("_History", item)
        </div>
    }
    if (item.Reply != null)
    {
        @Html.Partial("_ReplyMessage", item)
    }
}