@{
    Layout = null;
}
@model IList<ViewModel.Chat.ChatItemModel>
@foreach (var item in Model)
{
    <div zyf-chat-items-container class="clearfix chat-items-container">
        @Html.Partial("_Reply", item)
        <div zyf-chat-item data-id="6" class="chat-item">
            @Html.Partial("_AuthorAndContent", item)
            <div>
                <span zyf-chat-item-content>@item.Content</span>
            </div>
        </div>
    </div>
}