@model ViewModel.Chat.ChatItemModel
@{
    Layout = null;
}
<div zyf-chat-items-container class="clearfix chat-items-container" style="padding-top: 40px;">
    @Html.Partial("_MyMessage", Model)
    @if (Model.Reply != null)
    {
        @Html.Partial("_ReplyMessage", Model)
    }
</div>



