@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
    Layout = null;
}
<form>
    <section style="padding:0 10px 0 10px; margin-bottom:10px;" class="yellow-highlight">

        <div class="text-right" style="padding-top:10px;">
            <a href="/FAQ/Account#invite"><span class="glyphicon glyphicon-question-sign"></span> 为什么需要邀请</a>
        </div>
        <div class="form-group">
            <label>邀请人：</label>（* 必填，<a href="/User/Inviters" class="text-info" data-toggle="tooltip" title="" data-original-title="点击由系统推荐">没有邀请人</a>）
            <input class="form-control" data-val="true" data-val-length="* 邀请人的长度不能大于20" data-val-length-max="20" data-val-required="* 邀请人不能为空" id="Name" name="InviterName" placeholder="他的用户名，模糊查询只能从头开始" type="text" value="" zyf-search-by-username="">
            <div zyf-search-username-result=""></div>
            <span class="field-validation-valid" data-valmsg-for="InviterName" data-valmsg-replace="true"></span>
        </div>
        <div class="form-group">
            <label>邀请码：（* 必填）</label>
            <input class="form-control" data-val="true" data-val-regex="* 邀请码只能是4位数字" data-val-regex-pattern="[0-9]{4}" data-val-required="* 邀请码不能为空" id="InviteCode" name="InviteCode" placeholder="4位数字" type="text" value="">
            <span class="field-validation-valid" data-valmsg-for="InviteCode" data-valmsg-replace="true"></span>
        </div>
    </section>
    <div class="form-group">
        <label>用户名：（* 必填）</label>
        <input class="form-control" data-val="true" data-val-length="* 用户名的长度不能大于4" maxlength="4" data-val-remote="* 用户名重复，请重新输入" data-val-remote-additionalfields="*.UserName" data-val-remote-url="/User/_NameIsExist"
               data-val-required="* 用户名不能为空" id="UserName" name="UserName" placeholder="登录用户名，可修改，不能重复" type="text" value="">
        <span id="userName"></span>
    </div>
    <div class="form-group">
        <label>密码：（* 必填）</label>
        <input id="cation" class="form-control" data-val="true" data-val-length="* 密码的长度不能小于4，大于20" maxlength="15" data-val-length-min="4" data-val-required="* 密码不能为空" name="psd" placeholder="不少于4个字符" type="password">
    </div>
    <div class="form-group">
        <label>验证密码：（* 必填）</label>
        <input id="verify" class="form-control" data-val="true" data-val-equalto="* 确认密码和密码不一致" data-val-equalto-other="*.Password" data-val-required="* 确认密码不能为空" name="word" placeholder="和密码相同" type="password">
        <span id="tishi"></span>
    </div>
    <div class="submit">
        <input type="submit" class="btn btn-primary loading" id="submit" value="提交">
        <input type="reset" class="btn btn-default">
        <a href="About US" class="btn pull-right"><span class="glyphicon glyphicon-log-in"></span> 登录</a>
    </div>
</form>
<label class="checkbox-inline">
    <input type="checkbox" id="checkall" onclick="setAllNo()"> 全选
</label>
@for (int i = 0; i < 10; i++)
{
    <input type="checkbox" name="pitchon">
}
<script>
    //setInterval(setAllNo, 1000);
    setInterval(validate, 1000);
    setInterval(checkRepeat, 1000);
    function setAllNo() {
        var checkall = document.getElementById("checkall").checked;
        var pitchons = document.getElementsByName("pitchon");
        for (var i = 0; i < pitchons.length; i++) {
            if (checkall) {
                pitchons[i].checked = true;
            }
            else {
                pitchons[i].checked = false;
            }
        }
    }

    window.onbeforeunload = function (e) {
        var all = this.document.getElementsByClassName('form-control');
        for (var i = 0; i < all.length; i++) {
            if (isNull(all[i].value)) {
                return '';
            }//else do noting
        }
    };

    function isNull(parameter) {
        if (typeof (parameter) == "undefined" || parameter.length == 0 || parameter == null) {
            return false;
        } else {
            return true;
        }
    }

    function validate() {
        var pwd1 = document.getElementById("cation").value;
        var pwd2 = document.getElementById("verify").value;

        //<!--对比两次输入的密码-->
        if (isNull(pwd1) && isNull(pwd2)) {
            if (pwd1 == pwd2) {
                document.getElementById("tishi").innerHTML = "<font color='green'>两次密码相同</font>";
            }
            else {
                document.getElementById("tishi").innerHTML = "<font color='red'>两次密码不相同</font>";
            }
        }//else do nothing
    }

    var submitBtn = document.getElementById("submit");

    submitBtn.onclick = function (event) {
        if (checkRepeat()) {
            alert("preventDefault!");
            return false;
        } else {
            return true;
        }
    };

    function checkRepeat() {
        var existingUser = ['阿泰', 'fg', 'yz'];
        var usernName = document.getElementById('UserName').value;
        if (isNull(usernName)) {
            for (var i = 0; i < existingUser.length; i++) {
                if (usernName == existingUser[i]) {
                    document.getElementById('userName').innerHTML = "<font color='red'>已有当前用户，请重新输入</font>";
                    return true;
                } else {
                    document.getElementById('userName').innerHTML = "";
                    return false;
                }
            }
        }//else do nothing
    }
</script>

@*参考注册页面：
    提交时，如果用户名重复（已有用户名用数组保存），阻止form提交，提示“用户名重复”。
    重新输入用户名，一旦输入用户名部分没有重复，“用户名重复”的提示消失
    当用户名或密码等有值时，关闭页面前弹出确认框*@
