@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
    Layout = null;
}
<label class="checkbox-inline">
    <input type="checkbox" id="checkall" @*onclick="setAllNo()"*@> 全选
</label>
@for (int i = 0; i < 10; i++)
{
    <input type="checkbox" name="pitchon">
}
<script>
    setInterval(setAllNo, 1000);
    function setAllNo() {
        var checkall = document.getElementById("checkall").checked;
        var pitchons = document.getElementsByName("pitchon");
        if (!checkall) {
            for (var i = 0; i < pitchons.length; i++) {
                pitchons[i].checked = false;

            }
        } else {
            for (var i = 0; i < pitchons.length; i++) {
                pitchons[i].checked = true;
            }
        }
    }
</script>