@model ViewModel.Shared.Article._WidgetModel
<div zyf-widget-content class="widget clearfix">
    <div style="font-size:24px;"><span class="iconfont icon-articles"></span> 精品文章</div>
    <hr />
    @foreach (var item in Model.Items)
    {
        <div style="margin-bottom:10px;">
            <div>
                <span class="iconfont icon-article"></span> <a href="/Article/@item.Id">@item.Title</a>
            </div>
        </div>
    }
    <a href="/Article" class="btn pull-right"><span class="fa fa-hand-o-right"></span> 更多</a>
</div>
